html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    background-color: #c8a2c8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;

}

.banner {
    background-color:#A989A6;
    border: solid;
    border-color: #5c0029
    width: auto;
    height: 120px;
    margin: 0px auto;
    padding: 0px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .right-side {
        flex-wrap: nowrap;
        flex-align: start;

    }
}

.currentstock {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    text-align: center;
    line-height: 30px;
    border: 2px solid black margin-right:10px;
}

.container {
    display: flex;

}

.leftside {
    flex: 3;
    padding: 10px;
}

.rightside {
    flex: 1;
    padding: 10px;
}

.row {
    display: flex;
}

.fields {
    float: right;
    width: 80%;
}

fieldset {
    border-color: #5c0029;
}

legend {
    font-weight: 800;
    font-size: x-large;
    text-wrap: nowrap;
}
img {
    padding: 10px;
    width: 100px;
    height: auto;
    float: left;
}


.booktext {
    display: inline;
    text-align: left;
}