html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
}

.banner {
    background-color: plum;
    border: solid;
    border-color: purple;
    width: auto;
    height: 120px;
    margin: 0px auto;
    padding: 0px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .right-side{
        flex:none;
    }
}

.container {
    display: flex;
}

.leftside {
    flex: 3;
    padding: 10px;
}

.rightside {
    flex: 1;
    padding: 10px;
}

.row {
    display: flex;
}

.fields {
    float: right;
    width: 80% display: inline-block;
}


img {
    padding: 10px;
    width: 100px;
    height: auto;
    float: left;
}

h2 {
    text-align: right;
    padding: 10px;
}

.booktext {
    display: inline;
    text-align: left;
}